.viewCustomersWrapper {
    background-color: wheat;
    height: auto;
    min-height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    min-height: 55vh;
}

.viewCustomersHelper {
    margin: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.viewCustomersHeader {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.viewCustomersTable {
    margin-top: 1%;
    width: 80vw;
    min-height: 10vh;
    height: auto;
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: default;
}

.viewCustomersTableHead {
    position: sticky;
    background-color: brown;
    color: #fff;
}

.viewCustomersTableBody {
    background-color: #fff;
}

.viewCustomersContent {
    color: white;
    background-color: chocolate;
    border-style: none;
    outline: none;
    height: 4vh;
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.disableCustomerAccount {
    width: 5vw;
    height: 3vh;
    border-style: none;
    outline: none;
    color: White;
}

.disableCustomerAccount:hover {
    cursor: pointer;
}
