.homepageWrapper {
    background-color: wheat;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.homepageWrapper > div:nth-child(2n){
    background: darksalmon;
}

.homepageWrapper > div:nth-child(2n + 1){
    background: lightgreen;
}

.homepageWrapper > div:nth-child(2n):hover{
    background: navajowhite;
}

.homepageWrapper > div:nth-child(2n + 1):hover{
    background: navajowhite;
}

.product {
    width: 15vw;
    min-height: 35vh;
    height: auto;
    margin-left: 15%;
    margin-top: 15%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: center;
    transition: 0.5s;
}
