.booksWrapper {
    background-color: wheat;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.books {
    width: 70vw;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.books > div:nth-child(2n){
    background: darksalmon;
}

.books > div:nth-child(2n + 1){
    background: lightgreen;
}

.books > div:nth-child(2n):hover{
    background: navajowhite;
}

.books > div:nth-child(2n + 1):hover{
    background: navajowhite;
}

.book {
    width: 15vw;
    height: 40vh;
    margin-left: 15%;
    margin-top: 15%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    padding: 2%;
    text-align: center;
}

.booksFilter {
    margin-top: 2%;
    color: brown;
    font-weight: bold;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.helperWrapper{
    background-color: wheat;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}