.viewBookstoreStaffModal {
    background-color: wheat;
    width: 70vw;
    min-height: 30vh;
    height: auto;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}

.viewBookstoreStaffWrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viewBookstoreStaffHeader {
    margin-top: -10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

.viewBookstoreStaffTable {
    width: 95%;
    min-height: 35%;
    height: auto;
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: default;
}

.viewBookstoreStaffTableHead {
    position: sticky;
    background-color: brown;
    color: #fff;
}

.viewBookstoreStaffTableBody {
    background-color: #fff;
}

.viewBookstoreStaffTableBody > tr {
    transition: 0.3s;
}

.viewBookstoreStaffTableBody > tr:hover {
    transform: scale(1.04);
}

.bookstoreStaffContent {
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.disableAccount {
    color: white;
    background-color: crimson;
    border-style: none;
    outline: none;
    height: 3vh;
    cursor: pointer;
    align-self: center;
    margin-left: 10%;
    font-weight: bold;
}

