.priceHistoryModal {
    background-color: wheat;
    min-width: 50vw;
    width: auto;
    min-height: 20vh;
    height: auto;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.priceHistoryItem {
    margin: 3%;
    width: 80%;
    border-bottom-style: groove;
    align-items: center;
    justify-content: center;
}

.priceHistoryLabel {
    color: brown;
    margin-left: 3%;
}

.priceHistoryNewPrice {
    margin: 1%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceHistoryInput {
    outline: none;
    border-style: none;
    font-size: medium;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 25%;
    height: 3vh;
}

.priceHistoryButtonSave {
    margin-left: 5%;
    width: 10%;
    height: 3vh;
    border-style: none;
    outline: none;
    color: brown;
    background-color: lawngreen;
    font-weight: bold;
    cursor: pointer;
}