.firstLoginModal {
    background-color: wheat;
    width: 35vw;
    min-height: 15vh;
    height: auto;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.firstLoginDescription {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}
