.otherProductsWrapper {
    background-color: wheat;
    min-height: 50vh;
    height: auto;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.otherProductCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13vw;
    color: brown;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.otherProductCategory {
    margin-top: 10%;
    transition: 0.7s;
    cursor: pointer;
}

.otherProductCategory:hover {
    color: black;
}

.otherProducts {
    width: 76vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5px;
}

.otherProducts > div:nth-child(2n){
    background: darksalmon;
}

.otherProducts > div:nth-child(2n + 1){
    background: lightgreen;
}

.otherProducts > div:nth-child(2n):hover{
    background: navajowhite;
}

.otherProducts > div:nth-child(2n + 1):hover{
    background: navajowhite;
}

.otherProductsHr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    width: 1px;
    margin-bottom: 1%;
}

.otherProduct {
    width: 15vw;
    height: 40vh;
    margin-left: 15%;
    margin-top: 15%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: center;
    transition: 0.5s;
}

.productsFilter {
    margin-top: 2%;
    color: brown;
    font-weight: bold;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.helperWrapper{
    background-color: wheat;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}